/* ...*/
h1 {
  border: 2px dashed red;
  width: 400px;
  font-size: 3rem;
  padding: 0.5em;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: dashed red;
  border-top-width: 5px;
  border-top-style: dotted;
  border-top-color: blue;
  border-right: 5px dotted teal;
  /* margin-top: 1.5em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em; */
  margin: 1.5em;
  padding: 1.5em 2em 3em 4em;
}
